PORT=3000
NODE_ENV=development

# Prisma Postgres URL definition
DATABASE_URL="postgresql://admin:admin123@localhost:5432/auth_db?schema=public"

# Redis Connection string
REDIS_URL="redis://localhost:6379"
